@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
:root {
    --primary: #0A192F;      /* deep navy (background) */
    --secondary: #112240;    /* slightly lighter */
    --accent: #1F6FEB;       /* main blue */
    --accent-light: #4DA3FF; /* hover / highlights */
    --text: #E6F1FF;         /* soft white text */
    --text-muted: #8892B0;   /* secondary text */
    --glass: rgba(255, 255, 255, 0.05);
}
.container {
margin-left: auto;     
margin-right: auto;    
padding-left: 15px;   
padding-right: 15px;	

}

a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

section {
    padding: 36px 0;
    min-height: 100vh;
}


@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
body {
    background-color: #0A192F;
    font-family: "Inter", sans-serif;
}
header {
    background: var(--accent);
    padding: 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .portfolio {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
}

header .fa-bars {
    cursor: pointer;
}
header .nav-bar {
    display: flex;
}

header ul {
    display: flex;
}
header ul li {
    margin-left: 20px;
    padding: 20px;
    list-style: none;
}
header ul li a {
    position: relative;
    color: white;
    padding: 20px 4px;
    transition: all 0.5s ease;
}
header ul li  a.active {
    color: aqua;

}
header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px; 
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: width 0.5s ease;
}
header ul li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px; 
    width: 100%;
    height: 2px;
    background-color: aqua;
    transition: width 0.5s ease;
}
header ul li a:hover {
    color: #40c3c5;
}
header ul li a:hover::after {
    width: 100%;
}
/* start about */
main {
    margin-top: 80px;
    transition: all 0.5s ease;
}

main .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .about {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition:  0.5s ease;
}
main .about .left {
    flex: 1 1 200px;
}


main .about .left h3{
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

main .about .left h2{
    font-size: 2rem;
    color: aqua;
    font-weight: 500;
    margin-bottom: 10px;
}
main .about .left p {
    margin-bottom: 40px;
    max-width: 500px;
    font-size: 15px;
    font-weight: 500;
    color: #CFE8FF;
    
}
main .about .left .Social-mediaicons {
    margin-bottom: 20px;
}
main .about .left a {
    margin-left: 12px;
}
main .about .left a:first-child {
    margin: 0;
}

main .about .left i{
    font-size: 24px;
    border-radius: 25%;
    background-color: var(--accent);
    color: white;
    padding: 4px;
    cursor: pointer;
    transition: all 0.5s ease;

}
main .about .left i:hover{
    background-color: var(--accent-light);
    transform: translateY(-6px) scale(1.1);
    box-shadow: 0 0 15px aquamarine,
                0 0 30px aquamarine;
}

main .about .left i:first-child {
    margin: 0;
}

main .about .left .email-btn{
    background-color: var(--accent);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    font-size:1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}
.email-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px var(--accent);
}


main .about .right img{
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    cursor: pointer;
    animation: float 3s ease-in-out infinite;
    background:var(--accent) ;
    border: none;
    box-shadow: 0 0 20px var(--accent);
    height: auto;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*end the about section*/


/*start mywork section*/

.mywork {
    background: var(--secondary);
    display: flex;
    flex-direction: column;
}
.mywork h2 {
    display: flex;
    justify-content: center;
    margin-top: 60px ;
    margin-bottom: 60px;
    color: #fff;
    font-size: 4rem;
    font-style: italic;
    font-weight: 500;
}

.mywork span {
    color: var(--accent-light);
    margin-right: 12px;
}

.mywork .container {
    display: flex;
    align-items: center;     
    justify-content: center; 
     max-width: 900px;
    margin: auto;
}
.mywork .container .project-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
}

.project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 340px;
    height: 280px;
    background-color: #CFE8FF;
    border-radius: 24px;
    padding: 10px;
    gap: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.project-box:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.project-box:hover .descr {
     transform: translateY(0);
}


.project-box .descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #89c2ff, #cfe8ff);
  color: white;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.project-box .descr h3 {
    font-size: 3rem;
    font-family: italic;
}
.project-box i {
    border: 2px solid #112240;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.project-box i:hover {
    background: var(--primary);
    color: var(--text);
}
.project-box img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}


/*end if project section*/
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 500;
  height: auto;
}
.services h3 {
    margin-top: 20px ;
    margin-bottom: 60px;
    color: #fff;
    font-size: 4rem;
}
.services span {
    color: var(--accent-light);
}

.services .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.service-box {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.service-box img {
  width: 50%;
  height: 300px;
  border-radius: 16px;
  border: 3px solid var(--accent-light);
  object-fit: cover;
}

.service-box .text {
  width: 45%;
  color: var(--accent-light);
}

.service-box h3 {
  font-size: 28px;
  color: var(--text);
  margin-bottom: 10px;
}

/* Reverse layout */
 .reverse-box {
    display: flex;
    justify-content: flex-end;
 }
/* start skills section*/
.skills {
    padding: 80px 0;
    background-color: var(--secondary);
    color: white;
    min-height: auto;
}

.skills h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.skills h2 span {
    color: #64FFDA;
}

.skills-box {
    max-width: 700px;
    margin: 0 100px;
    flex-direction: column;
    gap: 20px;
    
    
}

.skill h3 {
    margin-bottom: 8px;
    font-weight: 500;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #112240;
    border-radius: 10px;
    overflow: hidden;
}

.progress span {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #64FFDA, #00BFFF);
    border-radius: 10px;
    transition: width 0.5s ease;
}

/* start contact*/
/* CONTACT SECTION */
.contact {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contact h2 {
    text-align: center;
    margin: 10px 0;
    color: var(--text);
    font-size: 3rem;
}
.contact span {
    color: var(--accent-light);
}


.contact .container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-content {
    display: flex;
    gap: 50px;
    background: var(--glass);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.1);
    flex-wrap: wrap;
}

/* LEFT SIDE */
.contact-info {
    flex: 1;
    min-width: 250px;
}

.contact-info h3 {
    color: white;
    margin-bottom: 10px;
}

.contact-info p {
    color: var(--text-muted);
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--text);
}

.info-item i {
    color: var(--accent);
}

/* RIGHT SIDE (FORM) */
.contact-form {
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.08);
    color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--text-muted);
}

.contact-form button {
    background: linear-gradient(135deg, var(--accent), var(--accent-light));
    border: none;
    padding: 12px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px var(--accent);
}
/* end contact*/
/*start footer*/
.footer {
    background-color: var(--secondary);
    padding: 20px;
}

.footer-content {
    flex: 1;
    text-align: center;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footer-logo {
    font-size: 1.8rem;
    color: var(--accent);
}

.footer p {
    color: var(--text-muted);
    font-size: 0.9rem;
    max-width: 400px;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: white;
    font-size: 20px;
    background: var(--accent);
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s;
}

.footer-social a:hover {
    background: var(--accent-light);
    transform: translateY(-5px);
}

.footer .copyright {
    margin-top: 10px;
    font-size: 0.8rem;
    color: var(--text-muted);
}

/*end footer*/



/* start responsive*/
@media (max-width: 1470px) {
    .mywork .container .project-content{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 1200px) {
    html {
        font-size: 90%;
    }

    header .container i {
        display: none;
    }
     

}
@media (min-width: 1170px) {
    header .container i {
    display: none;}
}

@media (max-width: 992px) {
   header {
    padding: 2rem 3%;
   }

   section {
    padding: 10rem 3% 2rem;
   }

   footer {
    padding: 2rem 3%;
   }

   main .about .right img {
    width: 200px;
   }

   html {
    font-size: 70%;
   }

   header {
    font-size: 14px;
   }

   .services {
    margin: 36px 0;
    padding: 0;
   }
   .mywork  {
    padding: 20px 0;
   }
   
}

@media (max-width: 776px) {
    header .container i {
        display: block;
        font-size: 20px;
    }

    header .nav-bar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background:var(--accent);
        border-top: 1px solid black;
        border-radius: 0 0 14px 14px;
        
    }
    header .nav-bar.close {
        display: block;
    }
     .nav-bar ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .nav-bar ul li {
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }

    .nav-bar ul li a {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        padding: 10px 0;
    }
     header ul li a::after,
    header ul li a:hover::after,
    header ul li a.active::after {
        content: none !important;
    }


    .mywork .container .project-content{ 
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 1110px) {
    .mywork .container .project-content{ 
        grid-template-columns: repeat(2, 1fr);

    }
     .mywork .container .project-content .project-box {
        font-size: 14px;
    }
     .service-box .text {
        font-size: 14px;
    }
}
@media (max-width: 776px) {
    .mywork .container .project-content { 
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    .mywork .container .project-content .project-box {
        font-size: 14px;
    }

    .service-box img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
    .service-box .text {
        font-size: 14px;
    }
}
